{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <div class="jumbotron">
        <div class="container">
            {% if user.is_authenticated %}
                <h1>Hello, {{ request.user.username }}</h1>
                <p>Let's reserve a parking space!</p>
            {% else %}
                <h1>Welcome to Park'R!</h1>
                <p>Sign in to start reserving a parking space!</p>
            {% endif %}
        </div>
    </div>

    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdLX6bV8gF70VsWVU_b1QsD2Hj-vvnmnk&callback=initMap">
    </script>

{% endblock %}
