{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }

       #find input, #find input:focus {
        padding: 5px;
        border: none;
        outline: none;
        -moz-box-shadow: 0 0 3px #888;
        -webkit-box-shadow: 0 0 3px#888;
        box-shadow: 0 0 3px #888;
       }
    </style>

    <div class="jumbotron">
        <div class="container">
            {% if user.is_authenticated %}
                <h1>Hello, {{ request.user.username }}</h1>
                <p>Let's reserve a parking space!</p>
            {% else %}
                <h1>Welcome to Park'R!</h1>
                <p>Sign in to start reserving a parking space!</p>
            {% endif %}
        </div>
    </div>

    <p id="find">
      <input id="toSearch" type="text" placeholder="Enter a location"/>
    </p>

    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdLX6bV8gF70VsWVU_b1QsD2Hj-vvnmnk&callback=initMap&libraries=places">
    </script>

    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 39.53, lng: -119.814972},
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });


      markerList = {{djangoMapMarkers|safe}};
            noteList = {{notes|safe}};
            var markers=[];
            var infowindows=[];
            for (i = 0; i < markerList.length; i++)
            {
            infowindows[i] = new google.maps.InfoWindow({
                content:noteList[i]+'<p><a href="{% url 'reservation_info' id=1 %}">Reserve This Space!</a></p>'
            });
            markers[i] = new google.maps.Marker(
                {
                position: markerList[i],
                map: map
                });
            markers[i].index = i;
            markers[i].loc=markerList[i]
            google.maps.event.addListener(markers[i], 'mouseover', function()
                {
                    map.panTo(this.getPosition());
                    infowindows[this.index].open(this.map,this);
                });
            console.log(markerList[i])
            }
        // Create the search box and link it to the UI element.
        var input = document.getElementById('toSearch');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
          if (places.length == 0) {
            return;
          }
          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];
          markerList = {{djangoMapMarkers|safe}}
          for (i = 0; i < markerList.length; i++){
              var marker = new google.maps.Marker({
                position: markerList[i],
                map: map
            });
          }
          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };
            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));
            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
    }
    </script>


{% endblock %}
